<header class="header">
    <h1 id="header-h1">Manga <span id="text-inventory"> Inventory</span></h1>
    <nav>
       <ul class="navbar-list">
        <li><a href="/mangas"><h2>Manga Collection</h2></a></li>
        <li><a href="/categories"><h2>Category</h2></a></li>
        <li><a href="/authors"><h2>Author</h2></a></li>
       </ul> 
    </nav>
</header>

<script>
    document.getElementById('header-h1').addEventListener('click',()=>{
        window.location.href = '/mangas' //redirect to root
    })
</script>