<h1 class="authors-title">Author Room</h1>

<form action="/authors" method="POST" class="add-author-form">
  <div class="authors-inline">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required /><br /><br />
  </div>

  <input class="author-submit-input" type="submit" value="Add Author" />
</form>
